body {
  background: url("./images/Calm-Wallpaper-for-Desktop.jpg") ;
}
.header {
  color: red;
  text-align: center;
  background-color: while;
}
main h1 {
  text-align: center;
  border: 1px solid red;
}
iframe {
  background-position: right top ;
  background-attachment: fixed;
  top-margin: 300px;
}
