body {
  background: url("./images/Calm-Wallpaper-for-Desktop.jpg") ;
}
.header {
  color: red;
  text-align: center;
  background-color: while;
}
main h1 {
  text-align: center;
  border: 1px solid red;
}
main > iframe {
  margin: auto;
  display: block;
  border-color: red;
}
img {
  display: block;
  margin: auto;
  width: 50%;
}
.MapContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.Map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height:100%;
}
